#Usuario, #Carrito{
  width: 2em;
  height: 2em;
}
 .Nav{
   display: flex;
   justify-content: center;
   max-width: 100%;
 }

 .Nav div a{
   margin-left: 4em;
 }

 .form-inline{
   margin-left: 9px;
 }
