<div class="Nav">
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#" role="tab" aria-controls="nav-profile" aria-selected="false">Comunidad</a>

    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#" role="tab" aria-controls="nav-contact" aria-selected="false">Comprar</a>

    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#" role="tab" aria-controls="nav-contact" aria-selected="false">Instructivos</a>

     <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#" role="tab" aria-controls="nav-contact" aria-selected="false"><img id="Usuario" src="https://scontent-qro1-1.xx.fbcdn.net/v/t1.15752-9/88090384_2517637251841514_8837536510266834944_n.png?_nc_cat=103&_nc_sid=b96e70&_nc_ohc=djWrApFEKEkAX9Y9Nuu&_nc_ht=scontent-qro1-1.xx&oh=a56d48f4960734b087011ebe7fc7b23c&oe=5E95DBF3" alt=""></a>

      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#" role="tab" aria-controls="nav-contact" aria-selected="false"><img id="Carrito" src="https://scontent-qro1-1.xx.fbcdn.net/v/t1.15752-9/88030040_194176615238660_4936998291809239040_n.png?_nc_cat=109&_nc_sid=b96e70&_nc_ohc=uL0Pt07r7Q8AX_JOmO8&_nc_ht=scontent-qro1-1.xx&oh=5dd3eeef2adb9dacb0e9fb87365c1b2a&oe=5E97B430" alt=""></a>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

    </form>
  </div>
</nav>
</div>