<div class="Cabecera">
  <div id="Logo">
    <img src="https://scontent-qro1-1.xx.fbcdn.net/v/t1.15752-9/87984870_334078734211988_4634661095573815296_n.png?_nc_cat=110&_nc_sid=b96e70&_nc_ohc=p5O5kFGBlusAX8Wh9lx&_nc_ht=scontent-qro1-1.xx&oh=e82d5ce5c13a3be28dd99c5ded197ab8&oe=5E800A5B" alt="">
  </div>
  <div id="Leyenda">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem nisi nihil, ducimus tenetur delectus sed obcaecati harum quidem non eaque, quasi facere odio suscipit fugit, praesentium reprehenderit illo eum enim?</p>
  </div>
  <div class="Botones">
    <button id="Registrarse" type="button" class="btn btn-success">Registrarse</button>
    <button id="Entrar" type="button" class="btn btn-primary">Entrar</button>
  </div>
</div>