.Cabecera{
  display: flex;
  justify-content: space-evenly;
  height: 15em;
  width: 100%;
  align-items: center;
}

#Logo{
  display: flex;
  flex-grow: 1;
  padding: 2em;
}

#Logo img{
  width: 22em;
  height: 11em;
  max-width: 100%;
}

#Leyenda{
  display: flex;
  flex-grow: 2;
  align-items: center;
  padding: 2em;
}

.Botones{
  display: flex;
  flex-grow: 1;
  padding: 2em;
}

.Botones button{
  margin-left: 2em;
}


